.header-row{
    height: 60px;
    position: fixed;
    width: 100%;
    background: #feda38;
}
.back-nav{
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    padding-left: 20px;
}
.header-logo{
    height: 60px;
}